body{
    font-family: Arial;
    color: white;
    margin: 0;

}

ul{
    list-style-type: none;
    display: flex;    
    margin: 0px;
    gap: 20px;
    font-size: 18px;
}

a{
    text-decoration: none;
    color:#E5E7EB;
}



.hero{
   background-color: #1F2937;
   padding: 0px 125px;
   
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;    
    font-weight: bolder;
    font-size: 24px;
}

.hero-content{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    padding: 100px 0px;
}

.text-content{
    display: flex;
    flex-direction: column;
    flex-basis: 425px;
    gap:10px;
}
.main-text{
    font-size: 48px;
    font-weight: bolder;    
}

.secondary-text{
    color:#E5E7EB;
    font-size: 18px;

}

.text-content button{
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border-style: none;
    width: 100px;
    height: 35px;
}


.more-info{
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0px;
}

.cards{
    display:flex;
    justify-content: center;
    font-size: 18px;
    font-weight: lighter;
    text-align: center;
    padding: 30px 0px;
    gap: 20px;
}

.card{
    display: flex;
    flex-direction: column;
    flex-basis: 200px;
    align-items: center;
    gap:10px;
}


.box{
    width: 150px;
    height: 150px;
    border: 5px #3882F6 solid;
    border-radius: 10px;
}